name: .NET Core Desktop

on:
  workflow_dispatch: # 手动手工触发 Workflow
  push: # 当代码推送到指定分支时触发
    branches:
      - main
  pull_request: # 当 PR 创建时触发
    branches:
      - main

jobs:

  build:

    strategy:
      matrix:
        configuration: [Release]

    runs-on: windows-2019

    env:
      Solution_Name: arpspoof.sln    #文件名                     # Replace with your solution name, i.e. MyWpfApp.sln.

    steps:
    - name: Checkout
      uses: actions/checkout@v3
      with:
        fetch-depth: 0

    # Install the .NET Core workload
    - name: Install .NET Core
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: 6.0.x

    # Add MSBuild to the PATH: https://github.com/microsoft/setup-msbuild
    - name: Setup MSBuild.exe
      uses: microsoft/setup-msbuild@v1.0.2

    # Restore the application to populate the obj folder with RuntimeIdentifiers
    - name: Restore the application
      # run: msbuild $env:Solution_Name /t:Restore /p:Configuration=$env:Configuration
      run: |
        msbuild ${{ github.workspace }}\SharpMiniDump.sln   # 这里路径要看好，写sln或者csproj的
      env:
        Configuration: ${{ matrix.configuration }}

    # Upload the artifact 
    - name: Upload Artifact
      uses: actions/upload-artifact@v3
      with:
        name: arpspoof
        path: ${{ github.workspace }}
